/*----------General------------*/
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(233, 232, 232);
}
/*--------layauts---------*/

.main_container {
display: flex;
width: 90%;
box-sizing: border-box;
box-shadow: 0 10px 20px rgb(52, 54, 54);
margin-top: 3%;
margin-left: 5%;
margin-bottom: 3%;
/*border-style:groove;*/
background-color: white;

}

/*----------aside---------*/
aside {
    background-color: rgb(24, 150, 172);
    width: 80%;
    margin-right:2%;
    padding: 5%;
}

.sidebar {
    color: rgb(4, 36, 48);
    width: 250px;
}

.profile {
    text-align: center;
}

aside .margen h2:first-child {
    border-bottom: 2px solid;
}

/*---------main------------*/

main h2 {
    color: rgb(24, 150, 172);
}

main h1
{
    color: rgb(4, 36, 48);
}

main .section .subsection h3 {
    color: rgb(4, 36, 48);
}

main .section .subsection p {
    padding-top: 5px;
}

.main {
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.section {
    margin-top: 2%;
}

.subsection {
    margin-top: 1%; 
}

.margen {
    padding-top: 5%;
}


/*--------elements--------*/
ul {
    list-style-type: none;
    margin-top: 2%;

}

img {
   border-radius: 50%; 
   border-style: inset;
   padding: 3%;
   align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin-top: 2%;
}

p{
    text-align: justify;
}

/*-------------Skills-------------*/
.skill_box {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skill_box p {
    
    margin: 0 0 10px;
    padding: 0;
}

.skill_box p:nth-child(1) {
   float:right;
   position: relative;
  
}
 
.Skill {
    background: teal;
    opacity: 70%;
    padding: 2px;
    box-sizing: border-box;
}

.skill_level {
    background: rgba(148, 203, 207, 0.897);
    width: 100%;
    height: 10px;
}

/*-----------table------------------*/

table {
    border: 1px;
    border-style: groove;
    border-color:rgba(143, 125, 92, 0.897) ;
    padding: 2%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: rgba(207, 186, 148, 0.897);
    text-align: left;
    
}

td {
    width: 300px;
}


table tr:nth-child(1) {
    font-style:italic;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid;
}
